---
---

<div class="left-2 fixed top-0 h-9 w-9 rounded-full drop-shadow-lg">
    <img src="ithundxr.png" class="rounded-full" alt="IThundxr logo">
    <span class="text-1xl relative left-[40px] bottom-[30px]">IThundxr</span>
</div>