---
---

<div class="left-2 fixed top-0 h-9 w-9 rounded-full drop-shadow-lg">
	<img
		src="/ithundxr.png"
		class="rounded-full"
		alt="IThundxr logo"
		height="36"
		width="36"
	/>
	<span class="text-1xl relative left-[50px] bottom-[30px] font-medium"
		>IThundxr</span
	>
</div>
