---
import Status from "../utils/Status";
import RoundButton from "./RoundButton.astro";
import RoundEmailButton from "./RoundEmailButton.astro";
---

<div class="w-screen h-screen flex justify-center items-center">
	<div
		class="p-10 backdrop-blur bg-white/50 rounded-2xl drop-shadow-lg space-y-5"
	>
		<h1 class="text-center text-3xl">Heyo, I'm IThundxr</h1>
		<p class="text-center text-1xl">
			I like to play games<br /> and I also like to code
		</p>
			<img
				src="/ithundxr.png"
				class="rounded-full w-32 h-32 mx-auto border-2 border-white backdrop-blur"
				alt="ithundxr"
			/>
		<p class="text-center text-1xl">
			Right now, I am{" "}<Status client:load />
		</p>
		<div class="flex justify-center">
			<RoundButton
				link="https://github.com/ithundxr"
				iconname="bx:bxl-github"
				width="30"
				service="Github"
				color="#1B1F23"
			/>
			<RoundButton
				link="https://discordapp.com/users/694604709591384226"
				iconname="akar-icons:discord-fill"
				width="30"
				service="Discord"
				color="#5865F2"
			/>
			<RoundButton
				link="https://twitter.com/ithundxr_"
				iconname="bx:bxl-twitter"
				width="30"
				service="Twitter"
				color="#1D9BF0"
			/>
			<RoundButton
				link="https://www.youtube.com/@IThundxr"
				iconname="akar-icons:youtube-fill"
				width="30"
				service="Youtube"
				color="#FF0000"
			/>
			<RoundButton
				link="https://twitch.tv/ithundxr_"
				iconname="bi:twitch"
				width="30"
				service="Twitch"
				color="#A970FF"
			/>
			<RoundButton
				link="mailto:contact@ithundxr.dev"
				iconname="ic:outline-email"
				width="30"
				service="Email"
				color="#ffffff"
			/>
		</div>
	</div>
</div>
